<header id="site-head" >
    <div class="vertical">
        <div id="site-head-content" class="inner">
            <h1 class="blog-title"><a href="/">{{blog.title}}</a></h1>
            <h2 class="blog-description">{{blog.description}}</h2>
        </div>
    </div>
    <nav>
        {{#pages}}
          <li><a href="{{link}}">{{title}}</a></li>
        {{/pages}}
    </nav>
</header>