@import "normalize.css";
@font-face {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
}
.icon-ghost, .icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
    font-family: 'icons';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    text-transform: none;
}
.icon-ghost:before {
    content: "";
}
.icon-feed:before {
    content: "";
}
.icon-twitter:before {
    content: "";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "";
}
.icon-facebook:before {
    content: "";
}
html {
    font-size: 62.5%;
    height: 100%;
    max-height: 100%;
}
body {
    color: #3A4145;
    font-family: 'Droid Serif',serif;
    font-size: 2rem;
    height: 100%;
    line-height: 1.6em;
    max-height: 100%;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #D6EDFF;
    color: #222222;
    text-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans',sans-serif;
    line-height: 1;
    margin-top: 0;
    text-rendering: optimizelegibility;
}
h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    line-height: 1.2em;
    text-indent: -3px;
}
h2 {
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 1.2em;
    text-indent: -2px;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 3rem;
}
h5 {
    font-size: 2.5rem;
}
h6 {
    font-size: 2rem;
}
a {
    color: #4A4A4A;
    transition: color 0.3s ease 0s;
}
a:hover {
    color: #57A3E8;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #50585D;
}
p, ul, ol {
    margin: 1.6em 0;
}
ol ol, ul ul, ul ol, ol ul {
    margin: 0.4em 0;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EFEFEF -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 3.2em 0;
    padding: 0;
}
blockquote {
    -moz-box-sizing: border-box;
    border-left: 0.4em solid #4A4A4A;
    margin: 1.6em 0 1.6em -2.2em;
    padding: 0 0 0 1.6em;
}
blockquote p {
    font-style: italic;
    margin: 0.8em 0;
}
blockquote small {
    color: #CCCCCC;
    display: inline-block;
    font-size: 0.9em;
    margin: 0.8em 0 0.8em 1.5em;
}
blockquote small:before {
    content: "— ";
}
blockquote cite {
    font-weight: bold;
}
blockquote cite a {
    font-weight: normal;
}
dl {
    margin: 1.6em 0;
}
dl dt {
    clear: left;
    float: left;
    font-weight: bold;
    margin-bottom: 1em;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
}
dl dd {
    margin-bottom: 1em;
    margin-left: 200px;
}
mark {
    background-color: #FFC336;
}
code, tt {
    background: none repeat scroll 0 0 #F7FAFB;
    border: 1px solid #E3EDF3;
    border-radius: 2px 2px 2px 2px;
    font-family: Inconsolata,monospace,sans-serif;
    font-size: 0.85em;
    padding: 1px 3px;
    white-space: pre;
}
pre {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #F7FAFB;
    border: 1px solid #E3EDF3;
    border-radius: 3px 3px 3px 3px;
    font-family: Inconsolata,monospace,sans-serif;
    font-size: 0.9em;
    margin: 1.6em 0;
    overflow: auto;
    padding: 10px;
    white-space: pre;
    width: 100%;
}
pre code, tt {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap;
}
kbd {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #FFFFFF inset;
    color: #666666;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    text-shadow: 0 1px 0 #FFFFFF;
}
table {
    -moz-box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    margin: 1.6em 0;
    max-width: 100%;
    width: 100%;
}
table th, table td {
    border-top: 1px solid #EFEFEF;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
table th {
    color: #000000;
}
table caption + thead tr:first-child th, table caption + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td {
    border-top: 0 none;
}
table tbody + tbody {
    border-top: 2px solid #EFEFEF;
}
table table table {
    background-color: #FFFFFF;
}
table tbody > tr:nth-child(2n+1) > td, table tbody > tr:nth-child(2n+1) > th {
    background-color: #F6F6F6;
}
table.plain {
}
.hidden {
    display: none;
    text-indent: -9999px;
    visibility: hidden;
}
.inner {
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    width: 80%;
}
.vertical {
    display: table-cell;
    vertical-align: middle;
}
#site-head {
    background: none no-repeat scroll center center / cover #303538;
    color: #FFFFFF;
    display: table;
    height: 60%;
    margin-bottom: 5rem;
    position: relative;
    text-align: center;
    width: 100%;
}
#blog-logo img {
    display: block;
    line-height: 0;
    margin: 0 auto;
    max-height: 100px;
    width: auto;
}
#back {
    color: rgba(0, 0, 0, 0.2);
    font-size: 16px;
    left: 8px;
    padding: 6px;
    position: fixed;
    top: 8px;
}
.blog-title {
    font-size: 5rem;
    letter-spacing: -1px;
    margin: 10px 0;
}
.blog-description {
    font-family: 'Droid Serif',serif;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.5em;
    margin: 0;
}
.post {
    border-bottom: 1px solid #EBF2F6;
    margin: 4rem auto;
    max-width: 700px;
    padding-bottom: 4rem;
    position: relative;
    width: 80%;
}
.post:after {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E7EEF2;
    border-radius: 100% 100% 100% 100%;
    bottom: -5px;
    box-shadow: 0 0 0 5px #FFFFFF;
    content: "";
    display: block;
    height: 7px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 7px;
}
.post-title {
    margin: 0;
}
.post-title a {
    text-decoration: none;
}
.post-excerpt p {
    font-size: 0.9em;
    line-height: 1.6em;
    margin: 1.6rem 0 0;
}
.post-meta {
    color: #9EABB3;
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.5rem;
    margin: 0 0 5px;
}
.post-meta a {
    color: #9EABB3;
    text-decoration: none;
}
.post-meta a:hover {
    text-decoration: underline;
}
.user-meta {
    min-height: 77px;
    padding: 0.3rem 40px 0 100px;
    position: relative;
}
.user-image {
    left: 0;
    position: absolute;
    top: 0;
}
.user-name {
    display: block;
    font-weight: bold;
}
.user-bio {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
    max-width: 440px;
}
.publish-meta {
    padding: 4.3rem 0 4rem;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.publish-heading {
    display: block;
    font-weight: bold;
}
.publish-date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
}
.post-template .post {
    border-bottom: medium none;
    margin-top: 0;
    padding-bottom: 0;
}
.post-template .post:after {
    display: none;
}
.post-template .post-header {
    padding: 60px 0;
}
.post-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.post-footer {
    border-top: 1px solid #EBF2F6;
    margin: 4rem 0 0;
    padding: 4rem 0 0;
    position: relative;
}
.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}
.post-footer p {
    font-size: 1.4rem;
    line-height: 1.6em;
    margin: 1rem 0;
}
.post-footer .author {
    margin-right: 180px;
}
.post-footer .share {
    position: absolute;
    right: 0;
    top: 4rem;
    width: 140px;
}
.post-footer .share a {
    color: #BBC7CC;
    display: inline-block;
    font-size: 1.8rem;
    margin: 1.4rem 1.6rem 1.6rem 0;
}
.post-footer .share a:hover {
    color: #50585D;
}
.gist table {
    font-size: 1.4rem;
    margin: 0;
}
.gist .line-number {
    font-size: 1.1rem;
    min-width: 25px;
}
.pagination {
    color: #9EABB3;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.3rem;
    margin: 4rem auto;
    max-width: 700px;
    position: relative;
    text-align: center;
    width: 80%;
}
.pagination a {
    color: #9EABB3;
}
.older-posts, .newer-posts {
    border: 2px solid #EBF2F6;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    padding: 0 15px;
    position: absolute;
    text-decoration: none;
    transition: border 0.3s ease 0s;
}
.older-posts {
    right: 0;
}
.page-number {
    display: inline-block;
    padding: 2px 0;
}
.newer-posts {
    left: 0;
}
.older-posts:hover, .newer-posts:hover {
    border-color: #9EABB3;
}
.site-footer {
    background: none repeat scroll 0 0 #F7FAFB;
    border-top: 1px solid #EBF2F6;
    color: #BBC7CC;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.3rem;
    line-height: 1.7em;
    margin: 8rem 0 0;
    padding: 4rem 0;
    position: relative;
    text-align: center;
}
.site-footer a {
    color: #BBC7CC;
    text-decoration: underline;
}
.site-footer a:hover {
    color: #50585D;
}
.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}
.poweredby .icon-ghost:hover {
    text-decoration: none;
}
.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}
.subscribe {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EBF2F6;
    border-radius: 50px 50px 50px 50px;
    height: 28px;
    left: 50%;
    line-height: 2.4rem;
    margin-left: -15px;
    position: absolute;
    text-align: center;
    top: -14px;
    transition: box-shadow 0.5s ease 0s;
    width: 28px;
}
.subscribe:before {
    color: #D2DEE3;
    font-size: 10px;
    font-weight: bold;
    left: 9px;
    position: absolute;
    top: 2px;
    transition: color 0.5s ease 0s;
}
.subscribe:hover {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.25s ease 0s;
}
.subscribe:hover:before {
    color: #50585D;
}
.tooltip {
    background: none repeat scroll 0 0 #50585D;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    left: -23px;
    line-height: 1em;
    opacity: 0;
    padding: 4px 8px 5px;
    position: absolute;
    text-align: center;
    top: -23px;
    transition: opacity 0.3s ease 0s, top 0.3s ease 0s;
}
.tooltip:after {
    border-color: #50585D rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 5px 5px 0;
    bottom: -4px;
    content: "";
    display: block;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 0;
    z-index: 220;
}
.subscribe:hover .tooltip {
    opacity: 1;
    top: -33px;
}
@media only screen and (max-width: 900px) {
    blockquote {
        margin-left: 0;
    }
    #site-head {
        -moz-box-sizing: border-box;
        height: auto;
        min-height: 240px;
        padding: 15% 0;
    }
    .blog-title {
        font-size: 4rem;
        letter-spacing: -1px;
    }
    .blog-description {
        font-size: 1.7rem;
        line-height: 1.5em;
    }
    .post {
        font-size: 0.9em;
        line-height: 1.6em;
    }
    .post-template .post {
        padding-bottom: 1rem;
    }
    .post-template .post-header {
        padding: 40px 0;
    }
    h1 {
        font-size: 4.8rem;
        text-indent: -2px;
    }
    h2 {
        font-size: 3.8rem;
    }
    h3 {
        font-size: 3.3rem;
    }
    h4 {
        font-size: 2.8rem;
    }
}
@media only screen and (max-width: 500px) {
    #blog-logo img {
        max-height: 80px;
    }
    .inner, .pagination {
        margin-left: 16px;
        margin-right: 16px;
        width: auto;
    }
    .post {
        font-size: 0.8em;
        line-height: 1.6em;
        margin-left: 16px;
        margin-right: 16px;
        width: auto;
    }
    #site-head {
        padding: 10% 0;
    }
    .blog-title {
        font-size: 3rem;
    }
    .blog-description {
        font-size: 1.5rem;
    }
    h1, h2 {
        font-size: 3rem;
        letter-spacing: -1px;
        line-height: 1.1em;
    }
    h3 {
        font-size: 2.8rem;
    }
    h4 {
        font-size: 2.3rem;
    }
    .post-template .post {
        padding-bottom: 0;
    }
    .post-template .post-header {
        padding: 30px 0;
    }
    .post-meta {
        font-size: 1.3rem;
    }
    .post-footer {
        padding: 4rem 0;
        text-align: center;
    }
    .post-footer .author {
        border-bottom: 1px dashed #EBF2F6;
        margin: 0 0 2rem;
        padding: 0 0 1.6rem;
    }
    .post-footer .share {
        position: static;
        width: auto;
    }
    .post-footer .share a {
        margin: 1.4rem 0.8rem 0;
    }
    .older-posts, .newer-posts {
        margin: 10px 0;
        position: static;
    }
    .page-number {
        display: block;
    }
    .site-footer {
        font-size: 1.1rem;
        margin-top: 6rem;
    }
}